body{

background:#f8f9fa;

font-family:
'Segoe UI';

}


.hero{

margin-top:100px;

margin-bottom:40px;

}


.profile{

width:150px;

border-radius:50%;

border:5px solid white;

box-shadow:
0 5px 15px rgba(0,0,0,0.2);

margin-bottom:15px;

}


.section{

margin-top:50px;

}


.title{

margin-bottom:20px;

font-weight:600;

color:#333;

}


.project{

transition:.3s;

}


.project:hover{

transform:translateY(-5px);

box-shadow:
0 10px 25px rgba(0,0,0,0.15);

}